@media (max-width:450px) {

    main {
        width: 100%;
        height: auto;
        margin: 20px 0;
    }
    .main-title {
        font-size: 3.5rem;
        width:100%;
        margin: 20px auto 0;
        text-align: center;
    }
    .image-container {
        display: block;
        margin: 30px auto;
        display: block;
        width: 90%;
        height: auto;
        margin: 30px auto;
    }
    #answer-input {
        width: 90%;
        margin: 0 auto;
    }
    footer {
        display: block;
        position: relative;
        margin: 10px auto;
    }
}