
html, body{
    width:100%;
    height: auto;
    background: url("../img/bg.png");
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height:700px;
}

main h1{
    margin-top: 50px;
    font-size: 60px;
    font-weight: 1000;
    width:320px;
    color: yellow;
    text-shadow: 0 0 10px black, 0 0 10px black, 0 0 10px black;
    text-align: center;
}

.pokemon-image{
    background-repeat: no-repeat;
    background-size: contain;
    image-rendering:pixelated;
    width:320px;
}

form{
    display: flex;
    height:40px;
    width: 320px;
}
form input{
    flex-grow: 1;
}

footer{
    display: block;
    text-align: center;
    margin-top: 50px;
    color:white;
    text-shadow: 0 0 5px black, 0 0 5px black;
    font-weight: 500;
}














